@{
    ViewBag.Title = "Book Store";
}

<div>
    <h3> Book sale</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Author</td>
            <td>Price</td>
            <td></td>
        </tr>

        @foreach (var item in ViewBag.Books)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Price</td>
                <td><p><a href="home/Buy/@item.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>